{block content}
	<h1 class="mb-5">Přihlášení</h1>

    <div class="card">
        <div class="card-body">
            <p>Pro přístup do aplikace je nutné se ověřit svým Spotify účtem.</p>
            <p><a n:href="SpotifyRedirect" class="btn btn-success rounded">Přihlásit se</a></p>
        </div>
    </div>

	
{/block}